@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
  }
  
  .dark {
    --background: 222.2 84% 4.9%;
  }
}

@layer utilities {
  .bg-background {
    background-color: hsl(var(--background));
  }
}

